{% extends "authbase.html" %}
{% block content %}

<style>
    .errorlist {
      list-style-type:none;
      padding:0px;
      margin:0px;
    }

</style>

  <div class="row offset-sm-4" style="padding-top: 10%;">

    <div class="col-sm-6 shadow p-5" style="background-color: #ffffff; border-radius:25px" >

        <h4>Forgot your password?</h4>
       <p>Enter your email address below</p>

      <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}

         <button class="btn btn-sm btn-outline-primary" type="submit" > Send </button>
<!--        <input class="button" type="submit" value="Send">-->

      </form>

    <div/>


<!--    <form method="POST" action="" novalidate>-->
<!--      {% csrf_token %}-->
<!--       <div class="col-sm-6 shadow p-5" style="background-color: #ffffff; border-radius:25px" >-->
<!--      <div class="row">-->
<!--        <div class="col-sm-4">-->
<!--          <label>{{form.username.label_tag}}<span class="text-danger">*</span></label>-->
<!--        </div>-->
<!--        <div class="col-sm-8">-->
<!--          <div class="form-group">-->
<!--            {{form.username}}-->
<!--&lt;!&ndash;            <input type="text" class="form-control" aria-describedby="emailHelp" placeholder="User name">&ndash;&gt;-->
<!--          </div>-->
<!--          <span class="text-danger">{{form.username.errors}}</span>-->
<!--        </div>-->
<!--      </div>-->


<!--      <div class="row mt-2">-->
<!--        <div class="col-sm-4">-->
<!--          <label>{{form.password.label_tag}}<span class="text-danger">*</span></label>-->
<!--        </div>-->
<!--        <div class="col-sm-8">-->
<!--          <div class="form-group">-->
<!--            {{form.password}}-->
<!--&lt;!&ndash;            <input type="password" class="form-control" aria-describedby="emailHelp" placeholder="Password">&ndash;&gt;-->
<!--          </div>-->
<!--          <span class="text-danger">{{form.password.errors}}</span>-->
<!--        </div>-->

<!--      </div>-->


<!--      <div class="row justify-content-end mt-1">-->
<!--         <a style="width:145px" href="password_reset" >Forgot Password</a>-->
<!--      </div>-->

<!--      <div class="row justify-content-center pt-4">-->
<!--        <div class="col-1">-->
<!--          <button type="submit" style="width:150px;border-radius:20px" class="btn btn-outline-primary btn-sm">-->
<!--             Login</button>-->
<!--&lt;!&ndash;            <a style="width:150px;border-radius:20px" class="btn btn-outline-primary btn-sm" href="">&ndash;&gt;-->
<!--&lt;!&ndash;              Login </a>&ndash;&gt;-->
<!--        </div>-->

<!--      </div>-->

<!--      <div class="row offset-sm-2 mt-2">-->
<!--        <p>Don't have an account? <a href="/register" > Sign up  </a> </p>-->
<!--      </div>-->


<!--    </div>-->

<!--    </form>-->

  </div>

{% endblock %}