{% extends "authbase.html" %}
{% block content %}

  <div class="row offset-sm-4" style="padding-top: 10%;">

    <div class="col-sm-6 shadow p-5" style="background-color: #ffffff; border-radius:25px" >


    {% if validlink %}

      <h4>Set a new password!</h4>
      <form method="POST">
        {% csrf_token %}

<!--        {{ form.as_p }}-->

         <div class="row">
        <div class="col-sm-4">
          <label>{{form.new_password1.label_tag}}<span class="text-danger">*</span></label>
        </div>
        <div class="col-sm-8">
          <div class="form-group">
            {{form.new_password1}}
          </div>
          <span class="text-danger">{{form.new_password1.errors}}</span>
        </div>
      </div>

       <div class="row">
        <div class="col-sm-4">
          <label>{{form.new_password2.label_tag}}<span class="text-danger">*</span></label>
        </div>
        <div class="col-sm-8">
          <div class="form-group">
            {{form.new_password2}}
          </div>
          <span class="text-danger">{{form.new_password2.errors}}</span>
        </div>
      </div>

        <button class="btn btn-sm btn-outline-primary " type="submit" > Change my password  </button>
<!--        <input type="submit" value="Change my password">-->
      </form>

      {% else %}

      <p>The password reset link was invalid, possibly because it has already been used.  Please request a new password reset.</p>

      {% endif %}


    <div/>

  </div>

{% endblock %}
